<html>

<head>
    <title>
        S & D Covid-19 Tracker
    </title>
    <link rel="stylesheet" href="styles.css">
    <script src="./chart.js"></script>
    <script src="./draw_chart.js"></script>
</head>

<body>
    <div class="data-entry">

        <h1>Covid-19 Analyzer</h1>
        <div class="notification" id="notification">
            <%=result.message%>
        </div>
        <form id="form" action='/' method='post'>
            <div class="notification">
                <div align="left">
                    <a href="/"><img src="./images/home.png" height="50" width="50"></a>
                    <div class="searchbox" style="float: right; width: 730px"><input type='text' name="search" placeholder="   🔎    Search Country..."></div>
                </div>
            </div>
            <input type="submit" class="btn" value="" />
        </form>

        <div id='data_Table'>

            <table class="content-table" id='dataTable'>
                <thead>
                    <tr>
                        <th>Country</th>
                        <th>Total</th>
                        <th>Death(s)</th>
                        <th>Recovered</th>
                        <th>Active</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <img src="<%=result.stats.flag%>" height="50" width="50">
                        </td>
                        <td id='total'>
                            <%=result.stats.total%>
                        </td>
                        <td id='death'>
                            <%=result.stats.death%>
                        </td>
                        <td id='recovered'>
                            <%=result.stats.recovered%>
                        </td>
                        <td id='active'>
                            <%=result.stats.active%>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>
        <div class="txtbox">
            <canvas id="dataChart"></canvas>
        </div>
        <div class="footer">
            S & D Covid-19 Analyzer | github: @sajjal
        </div>
    </div>

</body>

</html>